.container-card {
    margin: 2rem 0 1rem;

    & h2 {
        margin: 2rem 0;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        color: #093028;
        letter-spacing: 0.5rem;
    }

    & a {
        text-decoration: none;
    }

    & .list-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        margin-top: 1rem;
        text-align: center;

        & .old-price {
            color: red;
            text-decoration: line-through;
        }

        & .content {
            padding: 1rem 0;
        }

        & .img-card-fixed {
            width: 150px;
            height: 100px;
            object-fit: cover;
            object-position: center;
        }

        :hover {
            transform: scale(1.01);
            transition: 0.4s ease;
        }
    }
}

  