@import './Navbar', 
'./Footer',
'./ImageHome',
'./CardCategory',
'./ContainerCard';

 $primary-color: #093028;
 $secondary-color: #237a57;
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(241, 255, 241);
}

table {
    margin-top: 1rem;
}

.old-price {
    color: red;
    text-decoration: line-through;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;

    & header {
        padding: 0 2rem;
    }

    & header h1 {
        margin-top: 2rem;
        color: $primary-color;
    }

    & header small {
        color: $primary-color;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
    padding: 0 1rem;

    & .form-container-div {
        display: flex;
    }
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}