@import '../../components/Navbar/Navbar', 
'../../components/Footer/Footer',
'../../app/\(PAGES\)/login/Login',
 '../../app/\(PAGES\)/register/Register';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

$primary-color: #093028;
$secondary-color: #237a57;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
}

.container h1 {
    margin-top: 2rem;
    color: $primary-color;
}

.container p {
    color: $primary-color;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
    padding: 0 1rem;
}